.board {
	position: relative;
}

.cells {
	display: inline-grid;
	grid-template-columns: repeat(var(--cols), auto);
}

.cell,
.rover {
	--size: 2em;
	width: var(--size);
	line-height: var(--size);
	text-align: center;
}

.cell {
	outline: 1px solid;
}

.rover {
	position: absolute;
	left: calc(var(--size) * var(--left));
	bottom: calc(var(--size) * var(--bottom));
}